<div class="container text-center">

    <h1>About Page</h1>
    <p> We are Devmatch. Our company focuses on creating an exclusive commmunity for
    developers and entrepreneurs to meet.
    </p>
    
</div>